.video {
  width: 25vw;
  height: 25vw;
  background: #000;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.console {
    margin: 10px;
    padding: 10px;
    background-color: #000;
    color: #fff;
}
